
<div class="page">
  <div class="container-fluid">
      <div class='row'>
          <div class='col-sm-12 col-md-12'>
            <h1 class="heading">Vendor Scorecard</h1>
          </div>
      </div>
    <div class='row'>
      <div class='col-sm-4 col-md-4'>
        <nav>
          <a routerLink="/register">Create</a>
        </nav>
      </div>
      <div class='col-sm-4 col-md-4'>
        <nav>
          <a routerLink="/search">Search</a>
        </nav>
      </div>
      <div class='col-sm-4 col-md-4'>
          <nav>
            <a target="_blank" rel="noopener" href="https://tableau-stg.netapp.com">Tableau Report</a>
          </nav>
        </div>
      <!-- <div class='col-md-4'>
        <nav>
          <a routerLink="/update">Update</a>
          <i class="fa fa-edit"></i>
          <i class="fa fa-trash-o"></i>
        </nav>
        <i class="fas fa-check"></i>
      </div> -->
    </div>
  </div>
  <!-- <div class="container-fluid">
    <nav>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Create</a>
      <a routerLink="/search">Search</a>
      <a routerLink="/update">Update</a>
    </nav>
  </div> -->
  
  
  
  
  
  
  
  <!-- <app-register></app-register> -->
  <router-outlet></router-outlet>
  </div>